name: Deploy to Server

on:
  push:
    branches:
      - main  # or master, whichever you use

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /home/ubuntu/nafa-staff/naafa_personnel_front
            git pull origin main
            npm install
            npm run build